body {
  margin: 0;
  background-color: gray;
}

h1 {
  margin-left: 2em;
  margin-top: 3em;
  font-size: 50px;
  width: 45%;
  color: white;
}

h5 {
  margin-left: 2em;
  font-size: 18px;
  width: 60%;
  color: white;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
}
#awesome-button {
  padding: 20px;
  border: transparent;
  background-color: white;
  margin-left: 5em;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 15%;
  font-size: 20px;
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.image-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
